/* *{
    background-color: skyblue;
} */


a:hover{
    background-color: aqua;
}

.header{
    height: 46px;
   
    background-color: rgb(144, 110, 30);
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* margin-right: 50px; */
    font-size: 30px;
    height: 70px;
}


.vedio{
    height: 500px;
    border: 2px solid black;
}
.outer{
    padding: 25px;
    background-color: linen;
    height: 1800px;
    border: 4px solid black;
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-between;

}

.inner{
   
    background-color: rgb(198, 193, 141);
    margin-top: 20px;
    /* padding: 20px; */
    height: 400px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid  black;


}


.inner:hover{
    transform: scale(1.2);
}

.footer{
    border: 4px solid black;
    font-size: 20px;
    color: rgb(250, 249, 249);
    padding: 20px;
    height: 130px;
    background-color:rgb(7, 8, 8);
    /* word-spacing:50px; */
}

.terms{
    height: 80px;
    font-size: 20px;
    background-color:rgb(7, 8, 8);
    word-spacing: 40px;

}

#book{
    
    /* height: 70px;
    width: 50px;
    background-color: aqua; */
    text-decoration: none;
    
      border-radius: 5px ;
      border:2px solid black;
    margin-left: 70px;
}